doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Christopher Aguilar's Portfolio

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/portfolio/css/style.css")

    body
        .content
            header
                h1.name Christopher Aguilar
            main
                hr

                section#about
                    h2 About
                    p.
                        Hi there! I'm a JavaScript / #[a(href='http://typescriptlang.org/', title='TypeScript') TypeScript]
                        developer, and avid GNU/Linux user. I have an insatiable passion and dedication for programming
                        and technology. I use #[a(href='https://facebook.github.io/react/', title='React') React] for
                        user interfaces, #[a(href='https://nodejs.org/', title='NodeJS') NodeJS] for servers, and either
                        Bash or Python for scripts. I use #[a(href='https://www.mongodb.com/', title='MongoDB') MongoDB]
                        for experiments and #[a(href='https://www.postgresql.org/', title='PostgreSQL') PostgreSQL] /
                        #[a(href='https://www.sqlite.org/', title='SQLite') SQLite] for real work.
                hr
                section#work
                    h2 Work
                    dl
                        div
                            dt: a(href='https://www.npmjs.com/package/@chrisaguilar/pword') &commat;chrisaguilar/pword
                            dd A simple password generator & manager written in TypeScript.
                        div
                            dt: a(href='https://www.npmjs.com/package/@chrisaguilar/tslint-config') &commat;chrisaguilar/tslint-config
                            dd.
                                My personal (and pretty strict) TSLint config that I use to make sure my code is as clean
                                as possible.
                        div
                            dt: a(href='https://www.npmjs.com/package/@chrisaguilar/ts-template-generator') &commat;chrisaguilar/ts-template-generator
                            dd A CLI that copies one of two TypeScript templates to a specified location.
                        div
                            dt: a(href='/fcc') Free Code Camp Projects
                            dd.
                                My solutions and projects from #[a(href='https://freecodecamp.com') Free Code Camp]. Some
                                might be broken, but I'm leaving them as they are, as a representation of the progress
                                I've made.
            hr
            footer#contact
                h2 Links &amp; Contact
                ul
                    li Email: #[code myFirstName.m.myLastName &commat; gmail]
                    li Phone: #[code echo eaedacabgf | tr a-g 0-468]
                    li: a(href='https://docs.google.com/document/d/1NJPUcbQqS0mcQ9G_1T9lSuVRt8ZlT2nfRTk8SdzIFlw/edit?usp=sharing') R&eacute;sum&eacute;
                    li: a(href='https://github.com/chrisaguilar') GitHub
                    li: a(href='https://www.npmjs.com/~chrisaguilar') NPM
                    li: a(href='https://codepen.io/chrisaguilar/') CodePen
                    li: a(href='https://www.freecodecamp.com/chrisaguilar') Free Code Camp
                    li: a(href='https://www.codewars.com/users/chrisaguilar') Codewars
