*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;

    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

h1, h2 {
    font-weight: 400;
}

h2 {
    font-size: 1.5rem;
}

dt::after {
    content: ": ";
}

.content {
    max-width: 850px;
    width: 75vw;
    text-align: justify;
}

@media all and (max-width: 750px) {
    .content {
        width: 90vw;
        text-align: left;
    }
}
